html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 475px;
  margin: auto;
}

body .card {
  margin: 0;
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 0.5rem;
}

body .card .card-content {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

body .card .card-content .affichage {
  width: 98.5%;
  margin: 1rem auto;
  min-height: 125px;
}

body .card .card-content .affichage p {
  text-align: right;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 1rem;
}

body .card .card-content .affichage p span {
  display: block;
  height: 1.5rem;
}

body .card .card-content .affichage p span:last-of-type {
  color: #ffd900;
}

body .card .card-content .touches {
  margin: 1rem auto;
}

body .card .card-content .touches .row div.modal {
  width: 80%;
}

body .card .card-content .touches .row div.modal .modal-header > button {
  background: linear-gradient(145deg, #d6d6d6, #f4f4f4);
  -webkit-box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #f4f4f4;
          box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #f4f4f4;
  position: absolute;
  background-color: transparent;
  color: inherit;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  font-size: 1rem;
  top: 0rem;
  right: 0rem;
}

body .card .card-content .touches .row div.modal .modal-content {
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 5px 5px 10px #d1d1d1, inset -5px -5px 10px #f4f4f4;
          box-shadow: inset 5px 5px 10px #d1d1d1, inset -5px -5px 10px #f4f4f4;
}

body .card .card-content .touches .row div.modal .modal-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5rem;
}

body .card .card-content .touches .row div.modal .modal-content .row > .colors {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: auto;
  border: 0.125rem solid #333;
  border-radius: 0.475rem;
  -webkit-box-shadow: 2.5px 2.5px 2.5px #d1d1d1, -2.5px -2.5px 2.5px #f4f4f4;
          box-shadow: 2.5px 2.5px 2.5px #d1d1d1, -2.5px -2.5px 2.5px #f4f4f4;
}

body .card .card-content .touches .row div.modal .modal-content .row > .colors#neu-white {
  background-color: #f7f7f7;
}

body .card .card-content .touches .row div.modal .modal-content .row > .colors#neu-grey {
  background-color: #cecece;
}

body .card .card-content .touches .row div.modal .modal-content .row > .colors#neu-blueGrey {
  background-color: #446372;
}

body .card .card-content .touches .row div.modal .modal-content .row > .colors#neu-blue {
  background-color: #0a6bb8;
}

body .card .card-content .touches .row div.modal .modal-content .row > .colors#neu-babyBlue {
  background-color: #2196f3;
}

body .card .card-content .touches .row div.modal .modal-content .row > .colors#neu-lightRed {
  background-color: #ed4b4b;
}

body .card .card-content .touches .row div.modal .modal-content .row > .colors#neu-pink {
  background-color: #e62454;
}

body .card .card-content .touches .row div.modal .modal-content .row > .colors#neu-orange {
  background-color: #ff9028;
}

body .card .card-content .touches .row div.modal .modal-content .row > .colors:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .card .card-content .touches .row button {
  font-weight: 500;
  width: 87.5%;
  height: 4rem;
  margin: 1rem auto;
}

body .card .card-content .touches .row button.largeBtn {
  width: 93.9%;
}

body .card .card-content .touches .row button.icons {
  font-size: 1.75rem;
}

body .card .card-content .touches .row button.icons .fa-undo {
  color: #ffd900;
  font-weight: 900;
}

@media screen and (max-width: 425px) {
  body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  body .card {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */