$yellow: rgb(255, 217, 0);
$neu-white: #f7f7f7;
$neu-grey: #cecece;
$neu-blueGrey: #446372;
$neu-blue: #0a6bb8;
$neu-babyBlue: #2196f3;
$neu-lightRed: #ed4b4b;
$neu-pink: #e62454;
$neu-orange: #ff9028;

html,
body {
  height: 100%;
}

body {
  display: flex;
  width: 475px;
  margin: auto;
  .card {
    margin: 0;
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 0.5rem;
    .card-content {
      padding: 1rem;
      width: 100%;
      height: 100%;
      .affichage {
        width: 98.5%;
        margin: 1rem auto;
        min-height: 125px;
        p {
          text-align: right;
          font-weight: 500;
          font-size: 1.25rem;
          padding: 1rem;
          span {
            display: block;
            height: 1.5rem;
            &:last-of-type {
              color: $yellow;
            }
          }
        }
      }
      .touches {
        margin: 1rem auto;
        .row {
          div.modal {
            width: 80%;
            .modal-header {
              > button {
                background: linear-gradient(145deg, #d6d6d6, #f4f4f4);
                box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #f4f4f4;
                position: absolute;
                background-color: transparent;
                color: inherit;
                border: none;
                height: 2.5rem;
                width: 2.5rem;
                cursor: pointer;
                font-size: 1rem;
                top: 0rem;
                right: 0rem;
              }
            }
            .modal-content {
              background-color: #e5e5e5;
              box-shadow: inset 5px 5px 10px #d1d1d1, inset -5px -5px 10px #f4f4f4;
              .row {
                display: flex;
                height: 2.5rem;
                > .colors {
                  cursor: pointer;
                  width: 2rem;
                  height: 2rem;
                  margin: auto;
                  border: 0.125rem solid #333;
                  border-radius: 0.475rem;
                  box-shadow: 2.5px 2.5px 2.5px #d1d1d1, -2.5px -2.5px 2.5px #f4f4f4;
                  &#neu-white {
                    background-color: $neu-white;
                  }
                  &#neu-grey {
                    background-color: $neu-grey;
                  }
                  &#neu-blueGrey {
                    background-color: $neu-blueGrey;
                  }
                  &#neu-blue {
                    background-color: $neu-blue;
                  }
                  &#neu-babyBlue {
                    background-color: $neu-babyBlue;
                  }
                  &#neu-lightRed {
                    background-color: $neu-lightRed;
                  }
                  &#neu-pink {
                    background-color: $neu-pink;
                  }
                  &#neu-orange {
                    background-color: $neu-orange;
                  }
                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }
            }
          }
          button {
            font-weight: 500;
            width: 87.5%;
            height: 4rem;
            margin: 1rem auto;
            &.largeBtn {
              width: 93.9%;
            }
            &.icons {
              font-size: 1.75rem;
              .fa-undo {
                color: $yellow;
                font-weight: 900;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  body {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    .card {
      width: 100%;
      height: 100%;
      margin: auto;
      padding: 0.5rem;
    }
  }
}
